model_list:
  - model_name: "*"
    litellm_params:
      model: "anthropic/*"
      api_key: "os.environ/ZAI_API_KEY"
      api_base: "https://api.z.ai/api/anthropic"

general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY
  store_model_in_db: true
  store_prompts_in_spend_logs: true

litellm_settings:
  drop_params: true
  set_verbose: true
